body {
    font-family: 'Comic Sans MS';
    font-size: medium;
    background-image: url('../media/game-background.jpg');
    opacity: 1;
    background-size: 100%;
    background-repeat: repeat-y;
}

header {
    background-color: #422A18;
    width: 20%;
    margin: 0 auto;
    display: block;
    border-radius: 25px;
}

footer {
    background-color: #422A18;
    width: 50%;
    margin: 0 auto;
    display: block;
    border-radius: 25px;
}

article {
    display: flex;
    flex-direction: column;
    height: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    opacity: .8;
    border-radius: 25px;
}

section {
    flex: 1;
    background-color: #D4EBFB;
    padding: 5px;
    margin-top:1em;
    min-width: 300px;
    max-width: 100%;
    min-height: 32em;
    opacity: 1;
    display: inline-block;
    border-radius: 25px;
}

h1 {
    font-family: 'Comic Sans MS';
    font-size: x-large;
    color: white;
    text-shadow:;
    text-align: left;
    border-radius: 25px;
}

h2 {
    font-family: 'Comic Sans MS';
    color: white;
    font-size: x-large;
    text-shadow:;
    background-color: #2797DE;
    opacity:;
    border-radius: 25px;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    display: block;
}

/*nav {
    margin: 0px;
    width: 20%;
    height: auto;
    border-radius: 25px;
}*/

nav ul {
    background-color: #98CEF2;
    color: #422A18;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    border-radius: 25px;
    margin-top: 1em;
    width: 25%;
    display:block
}

    nav ul li {
        text-align: center;
        color: #98CEF2;
    }

        nav ul li:hover {
            color: #D4EBFB;
            font-size: small;
        }

        nav ul li a {
            display: block;
            color: white;
            text-align: center;
            text-decoration: none;
        }

        nav ul li:hover a {
            color: white;
            text-decoration: none;
        }

        nav ul li:hover > ul {
            display: flex;
            flex-direction: column;
        }

    nav ul ul {
        display: none;
        background-color: #BCAC9F;
        border: 2px solid #422A18;
        border-radius: 25px;
        padding: 0px;
        position: absolute;
        font-size: medium;
        z-index: 10;
    }

        nav ul ul li {
            display: block;
            border-top: 1px solid #422A18;
            border-bottom: 1px solid #422A18;
            position: relative;
            text-align: center;
        }

            nav ul ul li a {
                color: #98CEF2;
            }

                nav ul ul li a:hover {
                    color: #422A18;
                }

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    /* The actual popup */
    .popup .popuptext {
        visibility: hidden;
        width: 160px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 8px 0;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -80px;
    }

        /* Popup arrow */
        .popup .popuptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }

    /* Toggle this class - hide and show the popup */
    .popup .show {
        visibility: visible;
        -webkit-animation: fadeIn 1s;
        animation: fadeIn 1s;
    }

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
